// front page styling

@import "bourbon";
@import "colors";
@import "mixins";

.front-html {
  overflow: hidden;
}

.cover {
  min-height: 100vh;
  background: $nightsky;
  background-image: linear-gradient(to top, #2735637a 0%, #010125 100%);
  background-size: cover;
}
.stage0 {
  display: grid;
  place-items: center;
  min-height: 90vh;
  width: 100%;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 1px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 2px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 3px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 3px
    );
  background-size: 450px 450px, 300px 300px, 220px 220px, 120px 120px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;
  opacity: 0.3;
}

.stage1 {
  display: grid;
  place-items: center;
  min-height: 80vh;
  width: 100%;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 1px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 2px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 3px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 3px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;
  opacity: 0.4;
}

.sunrise {
  background-image: linear-gradient(to top, #feada6c7 0%, #f5efef00 100%);
  background-size: cover;
  background-position: top center;
  height: 400vh;
}

.text-stage {
  display: grid;
  place-items: center;
  min-height: 80vh;
  text-align: center;
  width: 100%;
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .lead-text {
    font-size: calc(10vw * 0.48896666);
    color: #a0b6ff;
  }
  .intro {
    max-width: 60vw;
  }
}

.cover-title {
  animation-delay: 0.2s;
  color: white;
  h1 {
    font-size: 10vw;
  }
}

// hide logo on front
.front .logo,
.front .topper-module--logo--pa0l3 {
  display: none;
}

// clouds

.clouds__1 {
  @include slide-in-right;
  animation-delay: 0.01s;
  position: fixed;
  right: -5vw;
  width: 30vw;
}
.clouds__2 {
  @include slide-in-left;
  animation-delay: 0.02s;
  position: fixed;
  left: -12vw;
  width: 55vw;
  filter: brightness(0.3);
  opacity: 0.9;
}

.cloud-break {
  display: inline-block;
  margin-bottom: -50px;
  width: 100%;
  img {
    width: 100%;
  }
  div {
    background: white;
    height: 100vh;
    widows: 100%;
    margin-top: -50px;
  }
}

.cta-box {
  @include bounce;
  animation-delay: 1.5s;
}
.cta-box:hover {
  -webkit-animation: none;
  animation: none;
}

.cta {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  margin: 0 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  @include easeinout;
  svg {
    vertical-align: middle;
    margin-right: 2px;
  }
  span {
    vertical-align: middle;
  }
}
.cta:hover {
  @include easeinout;
}

.btn {
  @include easeinout;
  font-weight: bold;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: #fff;
  background-color: $lightcloud;
  border-color: $lightcloud;
  text-decoration: none;
}
.btn:hover {
  @include easeinout;
  background-color: $darkcloud;
  border-color: $darkcloud;
  box-shadow: 0 2px 4px 0 rgba(25, 26, 27, 0.4);
  color: #fff;
  transform: scale(0.98);
}

// sections

.section-header {
  height: 50vh;
  display: grid;
  place-items: center;
}

section {
  padding: 2rem 0;
  h2 {
    display: block;
    width: 100%;
  }
}
//  front main and front section height
.front section,
.front main {
  height: 100vh;
  overflow: hidden;
}

.front main {
  display: grid;
  place-items: center;
  .container {
    display: grid;
    place-items: center;
  }
  .intro {
    width: clamp(12em, 50vw, 1000px);
    max-width: 100%;
    text-align: left;
    line-height: 1.2;
  }
}
.intro {
  display: grid;
  font-size: modular-scale(2, 1em 4em, $golden);
  line-height: 1;
  place-items: center;
  text-align: center;
  padding: 1rem;
  a {
    margin-top: 1rem;
  }
}

.main-backdrop {
  background-color: white;
  width: 100%;
  height: 900vh;
}

.front .main-content {
  margin-top: -50px;
  min-height: 200vh;
  z-index: 4;
}

section.technology {
  display: none;
}

.tools {
  display: flex;
  font-size: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  div {
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
}

.recent-work {
  h3 {
    font-size: modular-scale(2, 1em 1.6em, $golden);
  }
  ul {
    font-size: modular-scale(1, 1em 1.6em, $golden);
  }
  li {
    margin: 2rem 0;
  }
  img {
    border-radius: 2%;
  }
}
.project-photos {
  display: inline-block;
  img,
  .desktop-preview,
  .mobile-preview {
    border-radius: 0.3rem;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
  }
}

.project-photos.desktop {
  display: none;
}

.project.algross {
  li::marker {
    color: #f2cb5c;
  }
}
.project.fireside {
  li::marker {
    color: #1c2543;
  }
}
.project.votercare {
  li::marker {
    color: #034fc6;
  }
}

//  media queries

@media (min-width: 900px) {
  .section-header {
    h2 {
      font-size: modular-scale(5, 1em 1.6em, $golden);
    }
  }

  section.technology {
    display: block;
    height: auto;
  }

  .technology {
    @include easeinout;
    .container {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.2rem;
      justify-content: center;
    }
    div:not(.container) {
      flex: 1 1 200px;
      display: grid;
      place-items: center;
      background-position: center;
      background-size: 100%;
    }
    .wordpress,
    .drupal,
    .gatsby {
      position: relative;
      margin: 6rem auto;
      .backdrop {
        @include easeinout;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }
      &:hover {
        .backdrop {
          transform: scale(1.1) rotate(-40deg);
        }
        .description {
          height: auto;
          opacity: 1;
        }
        .logo,
        h4 {
          opacity: 0;
        }
      }
    }
    .drupal h4 {
      margin-top: 1rem;
    }
    .logo {
      @include easeinout;
      display: flex;
      place-items: center;
      width: 80px;
      max-height: 80px;
      position: relative;
    }
    h4 {
      color: white;
      margin: 0.5rem;
      z-index: 2;
    }
    .description {
      @include easeinout;
      color: white;
      font-weight: bold;
      width: 50%;
      opacity: 0;
      z-index: 2;
      position: absolute;
      text-align: center;
    }
  }
  .tools {
    display: flex;
    font-size: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    div {
      flex: 0 1 250px;
      margin: 5px auto;
      display: flex;
      flex-direction: column;
    }
  }

  .recent-work {
    .project {
      width: 100%;
    }
    .project-text {
      width: 50%;
    }

    .project-photos.mobile {
      display: none;
    }
    h3 {
      font-size: modular-scale(3, 1em 1.6em, $golden);
    }
    ul {
      font-size: modular-scale(1, 1em 1.6em, $golden);
    }
    li {
      margin: 2rem 0;
      line-height: 100%;
    }
  }

  .project-photos,
  .project-photos.desktop {
    display: inline-block;
    img.mobile,
    .mobile-preview {
      position: absolute;
      right: 5vw;
      bottom: 0;
      width: 20%;
    }
    img.desktop,
    .desktop-preview {
      position: absolute;
      right: 10vw;
      top: 0;
      width: 40%;
    }
  }
}

.project-photos.mobile {
  display: block;
  width: 100%;
}
