@import "../styles/colors";

#nav-wrapper {
  cursor: pointer;
  height: 100px;
  width: 100px;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  button {
    z-index: 1002;
border: 0;
background: transparent;
cursor: pointer;
position: relative;
top: 0;
right: 0;
width: 100%;
height: 100px;
  }
  nav {
  color: white;
min-height: 100vh;
width: 100%;
display: flex;
place-items: center;
flex-direction: column;
justify-content: center;
ul {
  list-style: none;
}
li {
  list-style: none;
  line-height: 1;
  padding: 1rem;
  font-size: 2rem;
  font-size: calc(3vw + 2rem);
  transition: transform .2s ease-in-out, color .3s ease;
  a {
    color: white;
    text-decoration: none;
    transition: transform .2s ease-in-out, color .3s ease;
  }
}
li:hover {
  transform: scale(1.02) translateX(.4rem);
  a {
    color: $nightsky;
  }

}
}
}

.menu-blob {
  background-image: url("../assets/menu-blob.svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.35s;
  opacity: .9;
  pointer-events: none;
}
#nav-wrapper:hover {
  .menu-blob {
  transform: scale(1.3) rotate(50deg);
  opacity: 1;
}

}
#nav-wrapper.active {
  .menu-blob {
  transform: scale(60);
}

.menu-line-1 {
  transform: translateY(9px) translateY(-50%) rotate(-135deg);
}

.menu-line-2 {
  opacity: 0;
}

.menu-line-3 {
  transform: translateY(-9px) translateY(50%) rotate(135deg);
}

}

.menu {
  position: fixed;  top: 0;
  left: 0;
  height: 100%;
  width: 100%;  
  background: $lightcloud;
  visibility: hidden;
  opacity: 0;

  transition: all 0.55s;
  transition-delay: .1s;

  cursor: pointer;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  a {
    pointer-events: all;
  }
}

.active .menu {
    visibility: visible;
    opacity: 1;
  }

  a {
    pointer-events: all;
  }

.menu-icon {
	position: absolute;
  width: 30px;
  height: 18px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
  z-index: 1005;
}

.menu-line {
  background-color: rgb(0, 0, 0);
  height: 3px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 { top: 0; }

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 { bottom: 0; }

.social {
  svg {
    transition: all 0.55s;
    fill: white;
  }
  a {
    padding: .5rem;
  }
  a:hover svg {
    fill: $nightsky;
    transform: scale(1.1);
  }
}
