@import "bourbon";
@import "../styles/colors";
@import "../styles/mixins";

.tiptop {
    @include easeinout;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    z-index: 999;
    position: absolute;
    width: 100%;
    text-decoration: none;
    
        
}


.active {
    color: black;
    font-weight: bold;
}
.front .active {
    color: white;
}

.logo-link {
    text-decoration: none;
}

.logo {
    background-color: $nightsky;
    position: relative;
    display: grid;
    place-items: center;
    width: 100px;
    height: 50px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    &:after {
        content: "\2190 Home";
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: $lightcloud;
    }
    &:hover {
        .logo-text {
            height: 0px;
        }
        .sw {
            opacity: 0;
        }
    }
}
.logo-text {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100px;
    height: 50px;
    text-align: center;
    background: $lightcloud;
    -webkit-transition: all 0.2s ease-in-out 0s!important;
    transition: all 0.2s ease-in-out 0s!important;
}

.sw {
    color: $nightsky;
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
    -webkit-transition: all 0.2s ease-in-out 0s!important;
    transition: all 0.2s ease-in-out 0s!important;
}


